<mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row>
      <span>DNB</span>
      <a routerLink="/">
      <mat-icon class="icon"
                aria-hidden="false"
                routerLinkActive="mat-secondary"
                aria-label="Nav icon">dashboard</mat-icon>
      </a>
      <span class="example-spacer"></span>
      <a routerLink="/risk">
        <mat-icon class="icon"
                  aria-hidden="false"
                  routerLinkActive="mat-primary"
                  aria-label="Nav icon">add_alert</mat-icon>
      </a>
      <a href="#">
        <mat-icon class="icon"
                  aria-hidden="false"
                  routerLinkActive="mat-primary"
                  aria-label="Nav icon">account_balance</mat-icon>
      </a>
      <a href="#">
        <mat-icon class="icon"
                  aria-hidden="false"
                  routerLinkActive="mat-primary"
                  aria-label="Nav icon">history</mat-icon>
      </a>
    </mat-toolbar-row>
</mat-toolbar>
