<div class="grid-container">
  <div class="parent"
       fxLayout="row"
       fxLayout.xs="column">

   <mat-card class="large"
            fxFlex="50%"
            >
            <mat-card-header class="header">
                Applicants
            <span class="example-spacer"></span>
            <a routerLink="/applicants" >
                <mat-icon class="icon"
                          aria-hidden="false"
                          routerLinkActive="mat-accent"
                          aria-label="Nav icon">settings</mat-icon>
              </a>
            </mat-card-header>
            <hr>
            <mat-card-content class="content">
                Currently: 23,456
            </mat-card-content>
   </mat-card>

    <mat-card class="large"
            fxFlex="50%"
            >
            <mat-card-header class="header">
                Asset Data
            <span class="example-spacer"></span>
            <a href="#">
                <mat-icon class="icon"
                          aria-hidden="false"
                          routerLinkActive="mat-accent"
                          aria-label="Nav icon">timeline</mat-icon>
              </a>
            </mat-card-header>
            <hr>
            <mat-card-content class="content">
              Total Records: 569,980
          </mat-card-content>
   </mat-card>

   <mat-card class="large"
             fxFlex="50%"
             >
       <mat-card-header class="header">
       Risk Data
         <span class="example-spacer"></span>
           <a routerLink="/risk">
          <mat-icon class="icon"
                 aria-hidden="false"
                 routerLinkActive="mat-accent"
                 aria-label="Nav icon">add_alert</mat-icon>
           </a>
        </mat-card-header>
        <hr>
        <mat-card-content class="content">
          Current Factors: 178
      </mat-card-content>
      </mat-card>
  </div>
</div>

