ui-state-mtg-activity {
  #lineChart {
      background: #302f2f;
      height: 300px;
      width: inherit;
      color: #1EB980;
      margin-left: 20px;
      margin-right: 20px;

    .circle {
      fill: #5eaec5;
    }
    .xAxisG {
      display: #5eaec5;
    }
    .yAxisG {
      display: #5eaec5;
    }
  }
}
