
.grid-list-container {
  margin: 16px;
}

.tileLarge {
  background-color: #302f2f;
 .tileHeader {
    color: #1EB980
  }
}

.content {
  color: #FFFFFF;
  text-align: left;
}

.icon {
  padding: 0 14px;
  color: #1EB980;
}

.example-spacer {
  flex: 1 1 auto;
}


