  button {
    color: #BB86FC;
  }
  
  .parent {
    height: 100px;
  }
  
  .small {
    background-color: #302f2f;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .medium {
    background-color: #302f2f;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .large {
    background-color:  #302f2f;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  